
.header{
    display: flex;
    justify-content: space-between;
    /* background-color: bisque; */
    
}
.logo h1{
    background-color: yellow;
    color: #000;
    border-radius: 20px;
    font-weight: bold;
    font-size: 3em;
    padding: 7px;
    margin-left: 20px;
    
}
.logo{
   display: flex;
}
.logo h2{
    margin-top: 40px;
    font-size: 3em;
    font-weight: bold;
    margin-left: 10px;
}


.header ul{
    display: flex;
    list-style: none;
    font-size: 2em;
    gap: 30px;
    margin-right: 100px;
    margin-top: 50px;
}
.LOGO{
    background-color: yellow;
    border-radius: 30%;
    width: 100px;
    height: 50px;
    border: none;
    margin-top: 50px;
    margin-right: 50px;
}
@media screen and(min-width: 480px) {
    .header ul{
        display: none;

    }
    .header .LOGO{
        display: none;
    }
}